*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
background: linear-gradient(180deg, #102b54 0%, #08182C 100%);
} */  
 

.element-class { 
  height: auto !important;
  min-height: 0 !important;
}


body{
    background: linear-gradient(125.01deg, #111A23 -1.1%, #082E4D 88.13%);

}